#root {
}

.logo {
  /* margin: 1.2rem clamp(1.2rem, 5vw, 3.5rem); */
  text-decoration: none;
  color: hsl(var(--clr-white));
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
