/* imports */

@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Keania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap");

/*custom properties*/

:root {
  /* colors */
  --clr-slateBlue: 216 92% 14%;
  --clr-slateGrey: 205 92% 19%;
  --clr-seaGreen: 149 44% 36%;
  --clr-burlywood: 35 53% 69%;
  --clr-darksalmon: 15 55% 64%;
  --clr-white: 0 0% 100%;

  /* font-sizes  */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.15rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-roboto: "Roboto Condensed", sans-serif;
  --ff-montserrat: "Montserrat", system-ui;
  --ff-serif: "Bellefair", serif;
  --ff-knewave: "Knewave", system-ui;
  --ff-playwrite: "Playwrite DE Grund", cursive;
  --ff-iceberg: "Iceberg", system-ui;
  --ff-keania: "Keania One", sans-serif;
  --ff-orbitron: "Orbitron", sans-serif;
  --ff-oxanium: "Oxanium", system-ui;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font at different screen sizes */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1.1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.3rem;
  }
}

/*  Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: var(--ff-roboto);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100dvh;
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-slateBlue));

  overflow-x: hidden;
}

img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* utility classes */
/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */
.bg-blue {
  background-color: hsl(var(--clr-slateBlue));
}
.bg-grey {
  background-color: hsl(var(--clr-slateGrey));
}
.bg-accent {
  background-color: hsl(var(--clr-burlywood));
}
.bg-green {
  background-color: hsl(var(--clr-seaGreen));
}
.bg-salmon {
  background-color: hsl(var(--clr-darksalmon));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-blue {
  color: hsl(var(--clr-slateBlue));
}
.text-grey {
  color: hsl(var(--clr-slateGrey));
}
.text-accent {
  color: hsl(var(--clr-burlywood));
}
.text-green {
  color: hsl(var(--clr-seaGreen));
}
.text-salmon {
  color: hsl(var(--clr-darksalmon));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-roboto {
  font-family: var(--ff-roboto);
}
.ff-montserrat {
  font-family: var(--ff-montserrat);
}
.ff-knewave {
  font-family: var(--ff-knewave);
}
.ff-playwrite {
  font-family: var(--ff-playwrite);
}
.ff-iceberg {
  font-family: var(--ff-iceberg);
}
.ff-keania {
  font-family: var(--ff-keania);
}
.ff-orbiton {
  font-family: var(--ff-orbiton);
}
.ff-oxanium {
  font-family: var(--ff-oxanium);
}
.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* components  */
.logo {
  /* margin: 1.2rem clamp(1.2rem, 5vw, 3.5rem); */
  text-decoration: none;
  color: hsl(var(--clr-white));
  font-family: var(--ff-knewave);
  font-size: var(--fs-600);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  color: hsl(var(--clr-burlywood));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.header {
  background-color: hsl(var(--clr-slateBlue) / 0.8);
  color: hsl(var(--clr-white));
  padding: var(--fs-300);
  /* position: fixed;
  z-index: 1;
  width: 100%; */
}

.nav {
  justify-content: space-between;
  align-items: center;
}

.primary--nav {
  margin: 0 auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.link {
  align-self: center;
  color: hsl(var(--clr-white));
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--fs-300);
  font-weight: 500;
  background-color: hsl(var(--clr-seaGreen));
  color: hsl(var(--clr-white));
  transition: border-color 0.25s;
  cursor: pointer;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* HERO  */
.hero {
  background-color: hsl(var(--clr-slateGrey));
  min-height: 80dvh;
  padding-top: 3.8em;
  padding-bottom: 3.8em;
}
.hero-container {
  flex-direction: column-reverse;
}
.hero-title {
  font-size: var(--fs-800);
  line-height: 1.1;
}
.hero-info {
  color: hsl(var(--clr-white));
  text-align: center;
  --gap: 2rem;
}

.hero-info > p {
  font-style: italic;
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 80%;
}

.hero-img > img {
  max-width: 90%;
  width: 40rem;
  margin: 0 auto;
}
@media (min-width: 45em) {
  .hero-container {
    flex-direction: row;
  }
  .hero-img {
    width: 50%;
  }
  .hero-info {
    width: 50%;
    text-align: left;
  }
  .hero-info > p {
    margin: 0;
    width: 90%;
  }
}
/* card flip 
https://www.youtube.com/watch?v=hEtZ040fsD8&t=2118s https://codepen.io/elliempatten/pen/KxmoGR  */

/* Card flip  */
.card-section {
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: hsl(var(--clr-burlywood) / 0.5);
}
.card-container {
  display: grid;
  gap: 6rem;
}
.card-section-title > h1 {
  font-weight: 800;
}
.card-section-title > p {
  width: 70%;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: center;
  height: 20rem;
  border-radius: 0.8rem;
  text-align: center;
  background-color: hsl(var(--clr-white) / 0.9);
  position: relative;
  transform-style: preserve-3d;
  transition: -webkit-transform ease 500ms;
  transition: transform ease 500ms;
  cursor: pointer;
  transform: perspective(1000px) scale3d(var(--scale-3d, 1, 1, 1))
    rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.4rem;
  align-items: center;
}

.card:hover {
  /* --translate-y: -2px; */
  --scale-3d: 1.1, 1.1, 1;
}
.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1em;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.card .front {
  /* grid-template-rows: repeat(3, 1fr); */
  --gap: 3rem;
}
.card .front h3 {
  font-weight: 600;
}
.card .back {
  transform: rotateY(180deg);
  --gap: 2rem;
}

.card-title {
  display: flex;
  border-radius: 50%;
  width: 2.5em;
  aspect-ratio: 1;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.card-title > h2 {
  font-weight: 700;
}
.card-img {
  width: 3.5rem;
  margin: 0 auto;
}
.read {
  margin: 0 auto;
  color: #545bfe;
  border-radius: 4px;
  font-weight: 500;
}

@media (min-width: 45em) {
  .card-section-title > p {
    width: 65%;
  }
}

@media (min-width: 25em) and (max-width: 39.8125em) {
  .card {
    width: 22rem;
    margin: 0 auto;
  }
}
/* testimonial  */
.testimonial-section {
  background-color: hsl(var(--clr-darksalmon) / 0.6);
  padding: 4rem 0;
  min-height: 60dvh;
}
.testimonial-container {
  gap: 3rem;
}
.testimonial-header {
  text-align: center;
}
.testimonial-header > h1 {
  font-weight: 700;
}

.testimonial-header > p {
  width: 60%;
  margin: 0 auto;
}

.testimonial-card {
  height: 25rem;
  background-color: hsl(var(--clr-white) / 0.8);
  padding: 1.5em;
  border-radius: 8px;
  position: relative;
}
.speech {
  position: absolute;
  width: 3rem;
  top: -1.4rem;
  left: 8px;
}
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 1.4rem;
  align-items: center;
}
.avatar-container {
  justify-content: space-between;
}
.avatar-container > h3 {
  font-weight: 500;
}
.avatar-img {
  border-radius: 5px;
  background-color: hsl(var(--clr-burlywood) / 0.5);
}
.avatar {
  width: 5rem;
}
@media (min-width: 25em) and (max-width: 50.5625em) {
  .testimonial-card {
    width: 23rem;
    margin: 0 auto;
  }
}
/* How it works  */
.step-section {
  min-height: 65dvh;
  padding: 4rem;
  background-color: hsl(var(--clr-white) / 0.6);
}
.step-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 3rem;
  align-items: center;
}
.step-container {
  text-align: center;
  gap: 3rem;
}
.step-header > h2 {
  font-weight: 600;
}

.step-img {
  width: 4rem;
  margin: 0 auto;
}

@media (min-width: 25em) and (max-width: 50.5625em) {
  .step-card {
    width: 23rem;
    margin: 0 auto;
  }
}

/* CTA  */

.cta-section {
  min-height: 70dvh;
  padding: 6rem 0;
  background-color: hsl(var(--clr-slateBlue) / 0.9);
  color: hsl(var(--clr-white));
}
.cta-container {
  flex-direction: column;
  --gap: 2.5rem;
}
.cta-img > img {
  width: 48rem;
}
.cta-info {
  text-align: center;
}

.cta-info > h1 {
  font-weight: 600;
}

@media (min-width: 45em) {
  .cta-container {
    flex-direction: row;
  }
  .cta-img {
    width: 58%;
  }
  .cta-info {
    width: 42%;
  }
}

/* footer  */
.footer-section {
  background-color: hsl(var(--clr-slateGrey) / 0.9);
  color: hsl(var(--clr-white));
  min-height: 60dvh;
  padding: 5rem 0;
}
.footer-container {
  gap: 3rem;
}
.footer-info {
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.footer-info,
.footer-copy {
  justify-content: space-between;
}
.footer-cta {
  text-align: center;
}
.footer-cta > p {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.footer-links {
  gap: 3rem;
}
.page-links,
.social-links {
  margin: 0;
  padding: 0;
}
.page-links > li,
.social-links > li {
  list-style: none;
}
.page-links > li > a,
.social-links > li > a {
  color: hsl(var(--clr-white));
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.footer-logo > h1 {
  font-weight: 800;
  text-align: center;
  font-size: var(--fs-900);
}
.footer-copy {
  color: hsl(var(--clr-white) / 0.6);
}

@media (min-width: 45em) {
  .footer-container {
    gap: 5rem;
  }
  .footer-info {
    flex-direction: row;
  }
  .footer-cta {
    text-align: left;
  }
  .footer-cta > p {
    width: 70%;
    margin: 0 0 2rem 0;
  }
  .footer-logo > h1 {
    letter-spacing: 2.75rem;
  }
}

/* form  */
.sign-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  position: relative;
  padding: 0.8em;
}
.sign-logo {
  position: absolute;
  color: hsl(var(--clr-slateBlue) / 0.9);
  font-size: var(--fs-700);
  width: 4.5rem;
  top: 2rem;
  left: 3rem;
}

.form-header {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form-container {
  width: 100%;
  max-width: 27rem;
  /* min-width: 25rem; */
  margin-top: 2.5rem;
  padding: 3rem;
  background-color: hsl(var(--clr-white) / 0.9);
  border: 1px solid #213547;
  border-radius: 10px;
  flex-direction: column;
  min-height: 100%;
  padding: 2.5rem 1.5rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  --gap: 0.8rem;
}

.label {
  display: block;
  line-height: 1.5rem;
  color: hsl(var(--clr-slateGrey) / 0.7);
  font-size: var(--fs-300);
  font-weight: 500;
}
.input {
  display: block;
  border: 1.5px solid var(--tw-ring-color);
  border-radius: 6px;
  width: 100%;
  padding: 0.375rem 0.5rem;
  --tw-ring-color: hsl(var(--clr-slateBlue) / 0.6);
}
.input:focus {
  --tw-ring-color: indigo;
}
.link-p {
  font-size: var(--fs-300);
  color: hsl(var(--clr-slateGrey) / 0.7);
  text-align: center;
  margin-top: 1rem;
}
.link-span {
  margin-left: 0.3rem;
}
.link-span > a {
  text-decoration: none;
  color: hsl(240, 100%, 50%/0.5);
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

/* sidebar  */
.sidebar {
  position: relative;
  padding: 1.25rem;
  padding-top: 2rem;
  height: 100vh;
  transition-duration: 300ms;
}
.sidebar.close {
  width: 6rem;
}
.sidebar.open {
  width: 18rem;
}
.sidebar > ul {
  padding-left: 0;
}
.sidebar-toggle {
  width: 2.5rem;
  position: absolute;
  right: -0.75rem;
  top: 2.25rem;
  border-radius: 9999px;
  border: 3px solid hsl(var(--clr-slateGrey));
  cursor: pointer;
}
.sidebar-toggle.rotate {
  rotate: 180deg;
  transition: rotate 1s ease-in-out;
}
.sidebar-header {
  column-gap: 1rem;
  align-items: center;
}
.sidebar-header > img {
  width: 2.5rem;
  transition-duration: 500ms;
  cursor: pointer;
}
.sidebar-header > img.open {
  rotate: 360deg;
}
.sidebar-header-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  color: hsl(var(--clr-white));
  transition-duration: 200ms;
  transform-origin: left;
}
.sidebar-header-title.close {
  transform: scaleX(0) scaleY(0);
}
.sidebar-menu {
  padding: 0.5rem;
  column-gap: 1rem;
  align-items: center;
  border-radius: 0.375rem;
  cursor: pointer;
}
.sidebar-menu > img {
  width: 2rem;
}
.sidebar-menu > span {
  transition-duration: 200ms;
  transform-origin: left;
}
.sidebar-menu > span.hidden {
  display: none;
}
.sidebar-menu:hover {
  background-color: hsl(var(--clr-white) / 0.2);
}
