/* imports */

@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Knewave&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Keania+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&display=swap");

/*custom properties*/

:root {
  /* colors */
  --clr-slateBlue: 216 92% 14%;
  --clr-slateGrey: 205 92% 19%;
  --clr-seaGreen: 149 44% 36%;
  --clr-burlywood: 35 53% 69%;
  --clr-darksalmon: 15 55% 64%;
  --clr-white: 0 0% 100%;

  /* font-sizes  */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
  --fs-800: 3.5rem;
  --fs-700: 1.5rem;
  --fs-600: 1.15rem;
  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-roboto: "Roboto Condensed", sans-serif;
  --ff-montserrat: "Montserrat", system-ui;
  --ff-serif: "Bellefair", serif;
  --ff-knewave: "Knewave", system-ui;
  --ff-playwrite: "Playwrite DE Grund", cursive;
  --ff-iceberg: "Iceberg", system-ui;
  --ff-keania: "Keania One", sans-serif;
  --ff-orbitron: "Orbitron", sans-serif;
  --ff-oxanium: "Oxanium", system-ui;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font at different screen sizes */
@media (min-width: 35em) {
  :root {
    --fs-800: 5rem;
    --fs-700: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1.1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-800: 6.25rem;
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.75rem;
    --fs-400: 1.3rem;
  }
}

/*  Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}
ul {
  padding: 0;
}

body {
  font-family: var(--ff-roboto);
  font-size: var(--fs-400);
  line-height: 1.5;
  min-height: 100dvh;
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-slateBlue));

  overflow-x: hidden;
}

img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* utility classes */
/* general */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
/* grid layout */
.grid-container {
  display: grid;
  grid-template-rows: 4rem auto 6rem;
  grid-template-columns: 4rem auto;

  grid-template-areas:
    " sidebar header"
    " sidebar main"
    " . footer";
}
@media (min-width: 65em) {
  .grid-container {
    display: grid;
    grid-template-rows: 4rem auto 6rem;
    grid-template-columns: 16rem auto;

    grid-template-areas:
      "sidebar header"
      "sidebar main"
      "sidebar footer";
  }
}

.container {
  padding-inline: 2em;
  margin-inline: auto;
  max-width: 80rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */
.bg-blue {
  background-color: hsl(var(--clr-slateBlue));
}
.bg-grey {
  background-color: hsl(var(--clr-slateGrey));
}
.bg-accent {
  background-color: hsl(var(--clr-burlywood));
}
.bg-green {
  background-color: hsl(var(--clr-seaGreen));
}
.bg-salmon {
  background-color: hsl(var(--clr-darksalmon));
}
.bg-white {
  background-color: hsl(var(--clr-white));
}

.text-blue {
  color: hsl(var(--clr-slateBlue));
}
.text-grey {
  color: hsl(var(--clr-slateGrey));
}
.text-accent {
  color: hsl(var(--clr-burlywood));
}
.text-green {
  color: hsl(var(--clr-seaGreen));
}
.text-salmon {
  color: hsl(var(--clr-darksalmon));
}
.text-white {
  color: hsl(var(--clr-white));
}

/* typography */
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-roboto {
  font-family: var(--ff-roboto);
}
.ff-montserrat {
  font-family: var(--ff-montserrat);
}
.ff-knewave {
  font-family: var(--ff-knewave);
}
.ff-playwrite {
  font-family: var(--ff-playwrite);
}
.ff-iceberg {
  font-family: var(--ff-iceberg);
}
.ff-keania {
  font-family: var(--ff-keania);
}
.ff-orbiton {
  font-family: var(--ff-orbiton);
}
.ff-oxanium {
  font-family: var(--ff-oxanium);
}
.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
}

.fs-900 {
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-200 {
  font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}

/* components  */
.main-content {
  grid-area: main;
  position: relative;
  background-color: hsl(var(--clr-white) / 0.6);
}
.footer-main {
  grid-area: footer;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.logo {
  /* margin: 1.2rem clamp(1.2rem, 5vw, 3.5rem); */
  text-decoration: none;
  color: hsl(var(--clr-white));
  font-family: var(--ff-knewave);
  font-size: var(--fs-600);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
  color: hsl(var(--clr-burlywood));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.link {
  align-self: center;
  color: hsl(var(--clr-white));
  text-decoration: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: var(--fs-300);
  font-weight: 500;
  background-color: hsl(var(--clr-seaGreen));
  color: hsl(var(--clr-white));
  transition: border-color 0.25s;
  cursor: pointer;
}

button:hover {
  border-color: hsl(var(--clr-slateBlue));
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
