/* transaction  */
.transaction-container {
  flex-direction: column;
}
.transaction-filter-container {
  justify-content: space-between;
}
input[type="text"].search-input {
  font-size: var(--fs-300);
  border: 1.5px solid var(--tw-ring-color);
  width: 100%;
  max-width: 24rem;
  --tw-ring-color: hsl(var(--clr-slateBlue) / 0.6);
}

.btn.filter,
.btn.new-transaction {
  align-items: center;
}
.btn.new-transaction {
  background-color: hsl(var(--clr-darksalmon));
}
.btn.filter,
.btn.cancel-btn {
  background-color: hsl(var(--clr-white) / 0.9);
  color: hsl(var(--clr-slateGrey) / 0.9);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
/* add transaction form  */
.form-input-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 0.5rem;
  align-items: center;
}
.datepicker-input {
  width: 100%;
}
.add-transaction-form {
  font-size: var(--fs-300);
  flex-direction: column;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out;
}
.add-transaction-form.hide {
  opacity: 0;
}
.add-transaction-form.show {
  opacity: 1;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.btn-add-container {
  justify-content: flex-end;
}
.btn.cancel-btn,
.btn.submit-btn {
  padding: 0.6rem 1rem;
}

.pie-chart {
  align-items: center;
  flex-direction: column;
}
.chart-title-container {
  justify-content: space-between;
  margin-bottom: 1rem;
}
#dates-select {
  max-width: 100%;
  width: 12rem;
  border: none;
  padding: 0.4em;
  border-radius: 0.5em;
  text-align: center;
  text-transform: capitalize;
  background-color: hsl(208, 100%, 97%);
}
#dates-select:hover {
  background-color: hsl(207, 83%, 91%);
}

@media (min-width: 55em) {
  .pie-chart {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* spending breakdown  */
.breakdown {
  background: hsl(0, 0%, 94%);
  max-width: 23rem;
  width: 100%;
  padding: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.breakdown-section {
  padding: 0.5rem;
  text-align: left;
}
